<div class="container">
    <div class="text-center">
        <h4>Grafico Taxa MDR</h4>
    </div>

    <div class="text-center">
        <zingchart id="myChart" name="graficoMdr" zc-json="dadosGraficoLine" zc-height=500 zc-width=1200></zingchart>
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-primary"><i class="fas fa-circle dashboard-symbol-blue"></i>quantidade mínima de MDR</button>
            <button type="button" class="btn btn-outline-primary"><i class="fas fa-circle dashboard-symbol-red"></i>Valor da taxa de MDR</button> 
        </div>
    </div>

    <div class="text-center zingchart-padding">
        <div zingchart id="chart-1" zc-json="dadosGraficoPie" zc-width="100%" zc-height="568px"></div>
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-primary"><i class="fas fa-circle dashboard-symbol-blue"></i>MasterCard</button>
            <button type="button" class="btn btn-outline-primary"><i class="fas fa-circle dashboard-symbol-red"></i>Visa</button> 
            <button type="button" class="btn btn-outline-primary"><i class="fas fa-circle dashboard-symbol-green"></i>Hipercard</button>
            <button type="button" class="btn btn-outline-primary"><i class="fas fa-circle dashboard-symbol-orange"></i>AmericanExpress</button>
            <button type="button" class="btn btn-outline-primary"><i class="fas fa-circle dashboard-symbol-roxo"></i>Elo</button>
        </div>
    </div>

</div>

